%box-icona {
    padding: 3.34px 3px 6px 8px;
    border-radius: 2px;
}

%dot {
    color: #447ddb;
    font-size: $fs-icon*1.5;
}

%text-grey {
    font-size: $fs-grey;
    color: $tx-grey;
    opacity: 0.9;
}

%desk-arrow{
    background-color: black;
    font-size: 1.2em;
    padding: 1px 4px 1px 2px;
    border-radius: 25px;
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}