/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}