main {
    grid-area: main;
    #sectio-lable {
        padding: $default-padding*2 $default-padding*2;
    }

    #ultimiascolti {
        padding: $default-padding*2 $default-padding*2;

        .cont-playlist {
            padding: $default-padding*2 $default-padding*2;

            .playlist {
                border: none;

                * {
                    padding: 0px;
                    box-sizing: border-box;
                }

                &-img {
                    padding: 0px;
                }

                div {
                    .playlist-title {
                        background-color: black;
                        padding-left: $default-padding*2;
                        font-size: $fs-grey;
                        margin: 0px;

                        overflow: hidden;
                        padding-left: 5px;
                    }

                    i {
                        @extend %dot;
                        font-size: $fs-default*1.25;

                    }
                }

                .info {
                    visibility: visible;
                    color: green;

                }
            }
        }
    }

    #extended-playlist {
        .extended-playlist-cont {
            padding: $default-padding*0 $default-padding*2 $default-padding*2 $default-padding*2.2;
            background-color: $bg-default-color;

            .cont-img {
                padding: $default-padding*2 $default-padding*0 $default-padding*0 $default-padding*2;
                background: linear-gradient(309deg, rgba(36, 36, 36, 1) 45%, rgba(102, 58, 55, 1) 73%, rgba(144, 66, 62, 1) 97%);
                border-top-left-radius: $br-default*2;

                img {
                    box-shadow: 0px 0px 10px white;
                }
            }

            .extended-playlist-cont-txt {
                padding-top: $default-padding*2 ;

                @include ds-md {
                    font-size: $fs-default*2;
                }

                p:first-child {
                    @extend %text-grey;
                }
            }

            &-icon {
                @extend %text-grey;

                padding-top: $default-padding*2;

                i {
                    font-size: $fs-icon;
                }

                .bottone {
                    font-size: $fs-default;
                    background: $bg-color-black;
                    border: none;
                    border-radius: $br-percent;

                    i {
                        color: $tx-white;
                    }
                }
            }
        }
    }
}