footer{
    grid-area: footer;
    background-color: black;
    @extend %text-grey;

    #menu{
        .menu{
            list-style: none;
            &-element{
                i{
                   font-size: $fs-icon;
                }
            }
        }
    }
}