main {
    #sectio-lable {
        padding: $default-padding*2 $default-padding*4;
    }

    #ultimiascolti {
        padding: $default-padding*2 $default-padding*2;

        .cont-playlist {
            padding: $default-padding*2 $default-padding;
        }

        .playlist-title {
            padding-left: $default-padding*2;
        }
    }

    #extended-playlist {
        
        .extended-playlist-cont {
            padding: $default-padding*0 $default-padding*2 $default-padding*2 $default-padding*2.2;
            background-color: $bg-default-color;

            .cont-img {
                padding: $default-padding*2 $default-padding*0 $default-padding*0 $default-padding*2;
                background: linear-gradient(309deg, rgba(36, 36, 36, 1) 45%, rgba(102, 58, 55, 1) 73%, rgba(144, 66, 62, 1) 97%);
                border-top-left-radius: $br-default*2;
            }

            &-txt{
                padding-top: $default-padding*2 ;
            }

            &-icon {
                .bottone {
                    font-size: $fs-default;
                    background: $bg-color-black;
                    border: none;
                    border-radius: $br-percent;

                    i {
                        color: $tx-white;
                    }
                }
            }
        }
    }
}