/*Space*/
$default-padding : 5px;

/*Text color*/
$tx-white : white;

/*Bg color*/
$bg-default-color : #242424;
$bg-color-black : black;

/*Border*/
$br-default : 5px;
$br-percent : 50%;

/*Font*/
$fs-default : 16px;