@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import "var";
@import "placeholder";
@import "header";
@import "main";
body{
    background: $bg-default-color;
    color: $tx-white;
    height: 100vh;
  
    a{
        text-decoration: none;
        color:$tx-white;
    }
}

#topBar{
    background-color:$bg-default-color;
    color: $tx-white;
    display: flex;
    justify-content: right;
    i{
        padding-left: 5px;
        font-size: smaller;
    }
  
}
main{
    background-image: url('../img/yellowcard.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    color: $tx-white;
    font-size: normal;
    overflow: scroll;
    box-sizing: border-box;
    
    span{
        color:blue;
        font-size: large;
    }
    #profile{
        img{
            border-radius: 50%;
            width: 5%;
        }
    }
}
.play{
    
    background:$bg-default-color;
}
