@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import "var";
@import "placeholder";
@import "main";
@import "header";


main{
   .background{
   background-image: url('../img/yellowcard.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
   height: 300px;

   p{
    font-size: $fs-grey;
   }

   #pop-up{
    padding: 1px;
    border: none;
    background-color: #423918;
    border-radius: 20px;
    color: white;
    font-size: 0.6em;
    font-weight: 500;
    img{
        width: 25px;
    }
    i{
        font-size: 0.9em;
        text-align: center;
        
        
    }

}
}   

    color: $tx-white;
    font-size: normal;

    box-sizing: border-box;
    

    #profile{
        img{
            border-radius: 50%;
            width: 5%;
        }
    }
}
.play{
    
    background:$bg-default-color;
}





