@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import "var";
@import "placeholder";
@import "main";


main{
.background{
    //background-image: url('../img/yellowcard.jpeg');

background-color: aqua;
    background-repeat: no-repeat;
    background-position: center;
}   overflow: hidden;
    color: $tx-white;
    font-size: normal;

    box-sizing: border-box;
    
    span{
        color:blue;
        font-size: large;
    }
    #profile{
        img{
            border-radius: 50%;
            width: 5%;
        }
    }
}
.play{
    
    background:$bg-default-color;
}







