@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import "var";
@import "placeholder";
@import "header";
@import "main";
body{
    
    color:white;
    font-family: 'Inter', sans-serif;
 
    section, footer{
        li{
            list-style-type: none;
         }
     }
    };
.btn{
    font-size: smaller;
    border:0.5px inset #3b3b3b;
    margin:4px;
}
.bi-shuffle{
    color: $tx-grey; //inserire hover con JS
}
#profile{
    position: relative;
    img{border-radius: 50%;
       max-width:20% ;
        
    }
    #heartCircle
 {
.bi{   background: #acfbb7;
     border-radius: 50%;
     color: #121212;
    padding: 0.40em;
    border:2px solid white;
    position: absolute;
    top:30%;
    left: 10%;
    z-index:1;

 }}};
 #popolari{
    background-color: $bg-color-black;
    color: $tx-white ;
 }



 











