body{
    background: #121212;
    color:white;
}

section, footer{
    li{
        list-style-type: none;
    }
}
#imgback{
    background-image: url("../img/ricordi-testo.jpg");
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.bi{
font-size:large;
}

h2{
    color: #a2a2a1;
    font-size: small;
    font-family: 'Inter', sans-serif;
    padding:4%;

}


.icone{


.bi-play-circle-fill{
    font-size: xx-large;
    padding:0.5em;
}
} 

#heartCircle
{
.bi{   background: #acfbb7;
    border-radius: 50%;
    color: #121212;
    padding: 0.40em;
    border:2px solid white;

   
}}

